//-------------------------------------------------------------------------------
  @name: Contact Us Item
  -------------------------------------------------------------------------------//

//contact-item
.contact__item
  h3.contact__item__title
    | !{dataContactItem.title}
  ul.contact__item__sosmed
    each val in dataContactItem.sosmed
      li.contact__item__sosmed__item
        ='\n'
        a.contact__item__sosmed__lnk(href=val.link, target='_blank')
          ='\n'
          img.contact__item__sosmed__vendors(src='assets/img/icons/'+val.img alt=val.title)/
  .contact__item__wa
    ='\n'
    .contact__item__wa__number
      ='\n'
      a.contact__item__wa__link(href=dataContactItem.whatsappLink1, target='_blank')
        ='\n'
        img.contact__item__wa__icon(src='assets/img/icons/'+dataContactItem.whatsappSrc, alt='whatsapp')/
        | !{dataContactItem.whatsappNumber1}
        ='\n'
    .contact__item__phone__number
      ='\n'
      a.contact__item__phone__link(href=dataContactItem.whatsappLink2, target='_blank')
        ='\n'
        img.contact__item__phone__icon(src='assets/img/icons/'+dataContactItem.phoneSrc, alt='whatsapp')/
        | !{dataContactItem.whatsappNumber2}
        ='\n'
