//-------------------------------------------------------------------------------
  @name: Header
  -------------------------------------------------------------------------------//

-
  dataHeader = {
    logoSrc: 'rzf-komputer.svg',
    logoLink: 'index.html',
    logoAlt: 'RZF Komputer',

    menu: [
      {
        link: 'index.html',
        text: 'Beranda',
        classActive: 'beranda'
      },
      {
        link: 'produk.html',
        text: 'Produk',
        classActive: 'produk'
      },
      {
        link: 'promo.html',
        text: 'Promo',
        classActive: 'promo'
      },
      {
        link: 'kontak-kami.html',
        text: 'Kontak Kami',
        classActive: 'kontak-kami'
      },
    ],

  sosmed: [
  {
    link: '#',
    title: 'Facebook',
    class: 'facebook'
    },
  {
    link: '#',
    title: 'Instagram',
    class: 'instagram'
    },
    {
      link: '#',
      title: 'Twitter',
      class: 'twitter'
    }
    ],
  }

-
  dataTable = {
    list: [
      {
        img: 'lenovo-1.png',
        title: 'Lenovo',
        name: 'Lenovo Ultra Made 1500mx Ease Super',
        price: 'Rp 4.500.000',
        count: '1'
      },
      {
        img: 'printer.png',
        title: 'Lenovo',
        name: 'Printer Epson',
        price: 'Rp 2.500.000',
        count: '1'
      },
      {
        img: 'lenovo-1.png',
        title: 'Lenovo',
        name: 'PC Fullset',
        price: 'Rp 4.500.000',
        count: '1'
      },
      {
        img: 'lenovo-1.png',
        title: 'Lenovo',
        name: 'Asus Ryzen 5',
        price: 'Rp 4.500.000',
        count: '1'
      },
    ],
  }

// header
.header
  .container
    .header__content
      ='\n'
      a.header__logo(href=dataHeader.logoLink)
        ='\n'
        img.header__logo__el(src='assets/img/logo/'+dataHeader.logoSrc, alt=dataHeader.logoAlt)/
        ='\n'
      ='\n'
      button.burger-menu.js-nav(type='button')
        each val in [1, 2, 3]
          ='\n'
          span.burger-menu__bar
        ='\n'
      .header__mobile.js-mobile-menu
        .header__menu
          ul.header__nav
            each val in dataHeader.menu
              li.header__nav__item.js-nav-items(class=(navActive == val.classActive ? 'header__nav__item--active' : ''))
                ='\n'
                a.header__nav__link(href=val.link) !{val.text}
      ='\n'
      button.search.js-button-search(type='button')
        ='\n'
        i.rzfkomputer-search
        ='\n'
      ='\n'
      button.cart.js-cart(type='button')
        ='\n'
        i.rzfkomputer-cart
        ='\n'
      ='\n'
      .cart-list.js-cart-list
        .cart-list__items
          table.cart-list__table
            tbody
              each val in dataTable.list
                tr.cart-list__row
                  td.cart-list__img-wrapper
                    ='\n'
                    img.cart-list__img-el(src='assets/img/dummy/'+val.img alt=val.title)/
                  td.cart-list__product
                    h6.cart-list__product-name !{val.name}
                    p.cart-list__product-price !{val.price}
                    p.cart-list__product-count Total : !{val.count}
                  td.cart-list__delete
                    ='\n'
                    button.cart-list__delete-btn.js-cart-list-delete(type='button')
                      ='\n'
                      i.rzfkomputer-trashcan
                      ='\n'
                    ='\n'
          .cart-list__total
            ='\n'
            span.cart-list__total-name Total:
            h5.cart-list__total-price Rp. 4.500.000
          .cart-list__button
            .cart-list__button--row
              ='\n'
              a.btn.btn--primary.btn--views(href='keranjang-belanja.html') Lihat Keranjang
    .header__search-section
      .header__search-section__form-wrapper
        form.header-search-section__form.js-search-form(action='#' method='POST' autocomplete='off')
          ='\n'
          button.header-search-section__submit(type='submit')
            ='\n' 
            i.rzfkomputer-search
            ='\n'
          ='\n'
          input.header-search__input.js-search-input(type='text' name='search' id='search' placeholder='Cari Produk')/
          ='\n'
          button.header-search-section__close.js-header-search-section__close(type='button')
            ='\n'
            i.rzfkomputer-clear
            ='\n'
        .header__search-section__result.js-search-result
          .header__search-section__result-notif.js-notif-show
            .header__search-section__result-img-wrapper
              ='\n'
              img(src='assets/img/dummy/not-found.svg')
              p Maaf, produk yang Anda cari tidak tersedia
          h3.header__search-section-title.show Produk Pilihan
          ul.header__search-section__list.js-search-popup-input
            li.header__search-section__item
              ='\n'
              a.header__search-section__link(href='#') Asus Ryzen AMD 3
            li.header__search-section__item
              ='\n'
              a.header__search-section__link(href='#') Printer Thermal
            li.header__search-section__item
              ='\n'
              a.header__search-section__link(href='#') TP-Link
    .overlay
='\n'
// end-header